@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/*  VR FEATURE */

.vr-image {
  /* background-image: url("https://images.unsplash.com/photo-1617978241112-898785df45b9?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODY2NTg2ODV8&ixlib=rb-4.0.3&q=85"); */
  /* background-image: url("/images/golden-mall.jpg"); */
  background-image: url("/images/images (4).jpeg");
  /* background-image: url("/images/images (1).jpeg"); */
  /* background-image: url("/images/images (3).jpeg"); */
  /* background-image: url("/images/images.jpeg"); */
  background-size: cover;
  background-position: center center;
  width: 190%;
  height: 111vh;
  transition: all 0.7s ease-out;
  /* transition: all 0.7s cubic-bezier(0,-0.01,.62,.95); */
  /* filter: blur(2px); */
}

.auto-pan {
  animation: pan 20s linear infinite;
}

@keyframes pan {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-45%);
  }
}


.bg-glass{
  background: rgba(236, 252, 255, 0.5);
  filter: blur(.5px);
  border: none;
  outline: none;
}